<%- include('./partials/header.ejs')%>
  <h1>Mostrar 4 blogs de los primero 3 users</h1>


  <% if (params.id == 0) { %>
    <% for(let i = 0; i < data.length; i++) { %>
      <% if (data[i].userId == 1 && count <= 3) { %>
        <div> <%= data[i].title %> </div>
        <% count++ %>
      <% } %>
      <% if (data[i].userId == 2 && count <= 7) { %>
        <div> <%= data[i].title %> </div>
        <% count++ %>
      <% } %>
      <% if (data[i].userId == 3 && count <= 11) { %>
        <div> <%= data[i].title %> </div>
        <% count++ %>
      <% } %>
    <% } %>
  <% } %>


  <% if (params.id == 1) { %>
    <% console.log('ES 1') %>
    <% for (let i = 0; i < data.length; i++) { %>
      <% if (data[i].userId == 1 && count <= 3) { %>
        <div> <%= data[i].title %> </div>
        <div> <%= i %> </div>
        <% count++ %>
      <% } %>
    <% } %>
  <% } %>

  <% if (params.id == 2) { %>
    <% console.log('ES 2') %>
    <% for (let i = 0; i < data.length; i++) { %>
      <% if (data[i].userId == 2 && count <= 3) { %>
        <div> <%= data[i].title %> </div>
        <div> <%= i %> </div>
        <% count++ %>
      <% } %>
    <% } %>
  <% } %>

  <% if (params.id == 3) { %>
    <% console.log('ES 3') %>
    <% for (let i = 0; i < data.length; i++) { %>
      <% if (data[i].userId == 3 && count <= 3) { %>
        <div> <%= data[i].title %> </div>
        <div> <%= i %> </div>
        <% count++ %>
      <% } %>
    <% } %>
  <% } %>


</body>
</html>